<h1>Users</h1>
<%= will_paginate %>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>

  <% @users.each do |u| %>
  <tr>
    <td><%= u.name %></td>
    <td><%= u.email %></td>
    <% if current_user.admin? || current_user?(u) %>
      <td><%= link_to 'Delete', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate %>